* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: hsl(0, 0%, 95%);
	display: flex;
	color: hsla(0, 0%, 100%, 0.75);
	margin: auto;
	align-items: center;
	width: 75%;
	justify-content: center;
	height: 100vh;
}
.suv {
	padding: 30px;
	width: 25%;
	border-radius: 5px;
	font-size: 15px;
	height: 50vh;
}
