<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Learning Flex Box</title>
		<link rel="stylesheet" href="flexboxstyle.css" />
	</head>
	<body>
		<main>
			<div class="top-content">
				<h3>Join our Community</h3>
				<p class="p1">20-day, hassle-free money back guarantee</p>
				<p>
					Gain access to our full library of tutorials along expert code review
				</p>
			</div>
			<div class="bottom-content">
				<div class="bottom1">
					<h3>Monthly Subscription</h3>
					<p>$29 per month</p>
					<p>full access for less than $1 a day</p>
					<button>sign up</button>
				</div>
				<div class="bottom2">
					<ul>
						<li>Peer and expert code review</li>
						<li>Coding exercises</li>
						<li>tutorials by industry experts</li>
					</ul>
				</div>
			</div>
		</main>
	</body>
</html>
